<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{msg}}
    
    {% for i in r %}
    <h2>{{i.name}}-{{i.age}}</h2>
    {% endfor %}

    {% if r %}
    <table>
        <tr>
            <td>Name</td>
            <td>Age</td>
        </tr>
    {% for i in r%}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.age}}</td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
    <h1>No record to display</h1>
    {% endif  %}
</body>
</html>